<h1>Home#help</h1>
<p>Find me in app/views/home/help.html.erb</p>

<p>Next: taggings</p>

https://devblast.com/b/single-table-inheritance-with-rails-4-part-1/ <br>

http://yousefourabi.com/blog/2014/03/rails-postgresql/ <br>
http://nandovieira.com/using-postgresql-and-jsonb-with-ruby-on-rails <br>

https://github.com/jasonlong/geo_pattern -> babili